.banner {
  background-image: url(../../images/banner-ginger.jpg);
  background-size: cover;
  background-position: center;
  padding: 100px 100px;
}
  
.container-ban {
  display: flex;
  flex-direction: column;
}
  
.banner h1 {
  font-size: 2em;
  text-align: center;
  color: white;
}
  
.banner p {
  color: white;
  text-align: center;
  opacity: 1;
  font-size: 20px;
}
  
.banner a {
  text-align: center;
}