.footer {
  text-align: center;
  padding: 40px;
  background-color: rgb(224, 221, 21);
}

.footer a {
  font-size: 30px;
  color: rgb(85, 26, 139);
}

.footer p {
  margin-top: 20px;
  color: rgb(6, 53, 209);
  text-shadow: 1px 1px black;
}